**/opasCenter - not Open Source Yet/*
*.7z
*.bak
*.db
*.epub
*.gss
*.html
*.jsonld
*.log
*.log
*.mwb
*.odt#
*.pdf
*.properties
*.pyc
*.tmp
*.wpr
*.wpu
*.xml
*.zip
*Hold*
*Sample*
*defunct*
*epubExamination*
*examples*
*secret*
untitled*.*
.idea
.vscode/
.~*.*
_gsdata_/
__pycache__
app/libs/Garbage*
app/libs/styles/defunct*
app/opasDataLoader/updated_issues_*
app/sitemapindex
backups
deprecated/
app/docs/
env/
ftp.passwd
images/g/AIM.036.0275A.FIG001.jpg
images/g/JCPTX.032.0329A.F0003g.jpg
libs/Garbage*
localsecrets.py
scrap.*
sql/schemas/pepwebdownload*
venv/
xxx*
!*schema.xml
!*master*Schema.xml
# Include  pdfs in the schemas folder
!*/schemas/*.pdf
githib commit summary.txt
app/back/main.py
app/libs/styles/jats-archive-oasis-article1-mathml3flat-edited.dtd
*.xpr
app/libs/opasSplitPgxHelper.py
app/libs/XMLArticle.py
requirements-update.txt
requirements.in
pydantic_model_test.py
*abandoned*
*in prog*
app/opasDataLoader/dataUpdateLogs/database_updated.txt
app/opasGoogleMetadataExport/PEPGoogleMetaBookExportDraft.py
