*.bak
*.db
*.epub
*.html
*.log
*.log
*.mwb
*.pdf
*.properties
*.pyc
*.wpr
*.wpr
*.wpu
*.wpu
*.xml
*Sample*
*examples*
*epubExamination*
.idea
.vscode/
GVPI_Data/*
OPASServer/.vs/*
OPASServer/.vscode/*
OPASServer/vs_opas.code-workspace
OpenPubArchive.wpu
SamplesAndTests/
app/config/localsecrets.py
app/libs/Garbage*
app/libs/examples/*
app/libs/recreateUsers.py
app/libs/styles/defunct or example-only
env/
ftp.passwd
global set of requirements.txt
libs/Garbage*
libs/recreateUsers.py
oauth2Example.py
**/opasCenter - not Open Source Yet/*
sql/schemas/pepwebdownloadcounts.sql
sql/schemas/pepwebdownloads.sql
scrap.py
venv/
