boto3==1.26.26        # updated 2023-06-02
EbookLib==0.17.1
fastapi==0.78.0
fpdf2~=2.3.1
lxml~=4.9.1           # update per dependabot  from 4.6.5
mysql-connector-python>=8.0.27
nameparser==1.0.6
namesparser==1.0.0
numpy~=1.21.6         # dependabot alert says 1.22.0 but it doesn't seem to exist
Pillow==9.3.0         # updated 2023-06-02
pydantic==1.9.1       # updated 2022-07-15
PyJWT==1.7.1
PyMySQL~=1.0.2
pandas==1.1.1
passlib==1.7.2
pdfrw~=0.4
PyPDF2~=1.27.5        # needed by Pisa, apparently
pysolr==3.9.0
pytz==2020.1
python-dateutil~=2.8.2
roman==3.3
s3fs==0.4.2
pandas
pyhanko-certvalidator==0.22.*
solrpy==1.0.0
starlette~=0.19.1
uvicorn~=0.13.4
wget==3.2
weasyprint~=56.0      # updated 2022-07-15
xhtml2pdf~=0.2.8      # updated 2022-07-15
