asn1crypto==0.24.0
bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
dnspython==1.16.0
EbookLib==0.17.1
email-validator==1.0.4
fastapi==0.38.1
future==0.17.1
h11==0.8.1
idna==2.8
itsdangerous==1.1.0
lxml==4.4.1
passlib==1.7.1
pycparser==2.19
pydantic==0.32.2
PyJWT==1.7.1
PyMySQL==0.9.3
requests==2.22.0
six==1.12.0
solrpy==0.9.9
starlette==0.12.8
urllib3==1.25.3
uvicorn==0.9.0
websockets==8.0.2
