/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .bulletedJournalList  {
  		list-style-type: square ;
  		padding-left: 0em;
  		/*text-indent: -1.6em;*/
      margin-left: 1.6em;
  }

}


/*==========  Non-Mobile First Method  ==========*/

/* By programmatically adding/removing class justify to body, this turns on and off justified text in the abstractArea */

body.justify #documentArea {
    text-align: justify;
}

/* By programmatically adding/removing class glossaryHighlight to body, this turns on and off glossary highlighting in the abstractArea */
body.glossaryHighlight .glosstip {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.glosstip:hover {
  text-decoration: underline;
  font-weight: bold;
}

.ftnref {
   vertical-align: super;
   font-size:smaller;
   color:red;
}

.ftntip {
   color:red;
   vertical-align: super;
   font-size:smaller;
   cursor: pointer;
}

span.su {
  vertical-align: super;
  font-size:smaller;
/*
  font-size: 70%;
  position: relative;
  bottom: 2px;
*/
}

span.bibtip {
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}

.highlighted {
  text-decoration: underline;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.1em blue !important;
  color: white !important;
  font: .94em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.kwicList > li {
    list-style: none;
    padding-left: 0em;
    text-indent: -2.82em;
}
.kwicList > li >li::before {
  content: "- ";
}

#documentArea h1 {
    text-align: left;
    font-size: 1.18em;
    font-weight: bold;
}

#documentArea>.heading {
    font-weight: bold;
    font-size: .85em;
    /*background-color: azure ;*/
}

.title {
    font-weight: bold;
    font-size: 1.45em;
    line-height: 1.2em;
    text-align: center;
}

.title_author, .title_contributor {
  font-weight: bold;
  font-style: italic;
  font-size: 1.15em;
  text-align: center;
  margin-top: .2em;
	margin-bottom: .2em;
}

/*info icons*/
.title_author img {
  vertical-align: super;
}

p.figure img {
  display: block;
  margin: auto;
  width: 80%;
  height: 100%;
  max-width: 50%;
}

p.figtitle {
  font-size: .9em;
  margin-left: 1.6em;
  margin-right: 1.6em;
  text-align: left;
  font-style:italic;
}

.action_buttons {
    /*background-color: yellow;*/
    /*border-bottom-style:groove;*/
}

p {
  font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: hidden;
}

p.abs, p.abs_cont {
    font-size: .9em;
    margin-left: 1.6em;
    margin-right: 1.6em;
    /*background-color: azure;*/
    /*font-size: smaller;*/
}

.pagebreak {
    border-bottom: 1px solid black;
    text-align: center;
}

span.ftnlabel {
    font-size: smaller;
    position: relative;
    bottom: 3px;
}

p.ftn, p.ftr {
  font-size:smaller;
}

p.ftn_top {
  margin-bottom: .2em;
}

p.ftr {
  margin-bottom: .1em;
  margin-top: .5em;
}

p.verse {
  font-style: italic;
  text-indent: 1em;
  color: DimGray;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

p.dialog {
  font-style: italic;
  text-indent: 1em;
  font-weight: 600;
  color: DimGray;
  margin-top: 0em;
  margin-bottom: 0.2em;

}

p.src {
  font-style: italic;
  text-indent: 1em;
  text-align: right;
  color: DimGray;
  font-weight:600;
}

h1 {
    font-size: 1.18em;
    font-weight: bold;
}

h2 {
    font-size: 1.16em;
    font-weight: bold;
}

h3 {
    font-size: 1.14em;
    font-weight: bold;
}

h4 {
    font-size: 1.14em;
    font-weight: bold;
}

h5 {
    font-size: 1.04em;
    font-weight: bold;
    margin-top: .35em;
    margin-bottom: .35em;
}

input {
  font-size: 1.04em;
}

/*.heading {
    font-weight: bold;
    font-size: 0.70em;
}*/

.abs {
    color: #101010;
}
/* Show volume numbers in columns */
.volumeListColumnGroup {
    float: left;
    width: 100%;
}

.volumeListColumnItem {
    float: left;
    width: 20%;
}

.volumeListColumnItem:hover {
    cursor: pointer;
    background-color: #68c !important;
    color: White;
}


.header {
    font-weight: bold;
}

.newsecnm {
    font-weight: bold;
    text-align:right;
}

.lgrid {
    display:none;
}

p.figtitle {
  text-align: center;
}

p.bib_bib {
  text-align:left;
  margin-left: .8em;
  margin-right: .8em;
  /*color:rgb(0, 0, 107);*/
}

a.doi, a.bibx, a.pgx {
  color:red;
}

.dictentrygrp-term {
    font-size: 1.18em;
    font-weight: bold;
    border-top: 1px solid black;
}

.dictentry-src {
    font-weight: bold;
    font-style: italic;
}

.dictentry-term {
    font-weight: bold;
}

/*.glosstip:hover {
  font-weight: bolder;-
}*/

/*Author Info Popup */
/*<span class="peppopup authortip" data-type="velcro" data-content="<p class=&quot;autaffname&quot;>Daniel N. Stern</p>
<p class=&quot;autaffinst&quot;>Children's Hospital</p><p class=&quot;autaffaddr&quot;>The Process of Change Study Group</p>
<p class=&quot;autaffaddr&quot;>300 Longwood Ave.</p> <p class=&quot;autaffaddr&quot;>Boston</p>
<p class=&quot;autaffaddr&quot;>MA 02115</p> <p class=&quot;autaffaddr&quot;>(First version received 5/1/98)</p>
<p class=&quot;autaffaddr&quot;>(Final revised version received 6/4/98)</p>" data-maxwidth="300" data-direction="southwest"><img src="images/infoicon.gif" width="13" height="12" alt="Author Information"></span>*/

.autaffname {
  font-weight: bold;
  text-align:center;
  margin-left: 1.6em;
  margin-right: 1.6em;
  margin-bottom: 0em;
  color:rgb(0, 0, 107);
}

.autaffinst {
  font-weight: bold;
  font-style: italic;
  text-align:center;
  margin-left: 1.6em;
  margin-right: 1.6em;
  margin-bottom: 0em;
  /*color:rgb(0, 0, 107);*/
}

.autaffaddr {
  /*font-weight: bold;*/
  text-align:center;
  margin-left: 1.6em;
  margin-right: 1.6em;
  margin-bottom: 0em;
  /*color:rgb(0, 0, 107);*/
}

.ui-tooltip {
    max-width: 350px;
}

/*General Character Styles for documents*/

.i {
  font-style: italic;
}


