# Updated 2021-03-11 to for pdfrw
# Updated 2021-03-18 requests-2.25.1 urllib3-1.26.4 botocore-1.20.31 boto3-1.17.31
#      many more need updating, but postponing for later.  Pillow was needed due to security bug
# Updated 2021-06-10 more Dependabot alerts, urllib3, Pillow, and FastAPI
#
aiofiles==0.5.0
#
bcrypt==3.1.7
boto3==1.17.31        # updated 2021-03-18
botocore==1.20.31     # updated 2021-03-18
certifi==2020.6.20
cffi~=1.14.1
chardet==3.0.4
click==7.1.2
#
#
#
#
docutils==0.15.2
#
EbookLib==0.17.1
#
#fastapi==0.65.2
fastapi==0.70.0
fsspec==0.8.0
future==0.18.2
h11==0.9.0
html5lib==1.1
idna==2.10
#
#
jmespath==0.10.0
#
lxml~=4.6.5
protobuf>=3.0.0 # required by mysql-connector-python
mysql-connector-python>=8.0.27

nameparser==1.0.6
namesparser==1.0.0
#
#
# Required by pandas numpy and pytz installed when numpy is installed (2020-08-31)
numpy==1.21.0
pandas==1.1.1
pytz==2020.1
#
passlib~=1.7.2
Pillow~=9.0.0
#
pycparser~=2.20
pydantic==1.6.2
PyJWT==1.7.1
PyMySQL~=1.0.2
#
fpdf2==2.3.1
pdfrw==0.4
PyPDF2==1.26.0               # needed by Pisa, apparently
pysolr==3.9.0
python-dateutil~=2.8.2
#
#
python-multipart==0.0.5
#
reportlab==3.6.6
requests~=2.26.0
s3fs==0.4.2
s3transfer~=0.3.3
six~=1.15.0
#
#
starlette==0.16.0
#
urllib3>=1.21.1,<1.27
uvicorn~=0.13.4
watchtower==0.8.0
webencodings==0.5.1
websockets~=9.1
wget==3.2
xhtml2pdf~=0.2.5
arabic-reshaper~=2.1.3 # req by xhtml2pdf

# ***********************************
# DEPENDENCY ANALYSIS BY PIPDEPTREE
# ***********************************
#(env) E:\usr3\GitHub\openpubarchive\app>pipdeptree
#aiofiles==0.5.0
#bcrypt==3.1.7
  #- cffi [required: >=1.1, installed: 1.14.6]
    #- pycparser [required: Any, installed: 2.21]
  #- six [required: >=1.4.1, installed: 1.15.0]
#CairoSVG==2.5.2
  #- cairocffi [required: Any, installed: 1.2.0]
    #- cffi [required: >=1.1.0, installed: 1.14.6]
      #- pycparser [required: Any, installed: 2.21]
  #- cssselect2 [required: Any, installed: 0.4.1]
    #- tinycss2 [required: Any, installed: 1.1.0]
      #- webencodings [required: >=0.4, installed: 0.5.1]
    #- webencodings [required: Any, installed: 0.5.1]
  #- defusedxml [required: Any, installed: 0.7.1]
  #- pillow [required: Any, installed: 8.2.0]
  #- tinycss2 [required: Any, installed: 1.1.0]
    #- webencodings [required: >=0.4, installed: 0.5.1]
#chardet==3.0.4
#cPython==0.0.6
  #- pymongo [required: Any, installed: 3.11.4]
  #- requests [required: Any, installed: 2.26.0]
    #- certifi [required: >=2017.4.17, installed: 2020.6.20]
    #- charset-normalizer [required: ~=2.0.0, installed: 2.0.7]
    #- idna [required: >=2.5,<4, installed: 2.10]
    #- urllib3 [required: >=1.21.1,<1.27, installed: 1.25.11]
#docutils==0.15.2
#EbookLib==0.17.1
  #- lxml [required: Any, installed: 4.6.4]
  #- six [required: Any, installed: 1.15.0]
#fastapi==0.65.2
  #- pydantic [required: >=1.6.2,<2.0.0,!=1.8.1,!=1.8,!=1.7.3,!=1.7.2,!=1.7.1,!=1.7, installed: 1.6.2]
  #- starlette [required: ==0.14.2, installed: 0.14.2]
#fpdf2==2.3.1
  #- Pillow [required: Any, installed: 8.2.0]
#install==1.3.4
#namesparser==1.0.0
  #- nameparser [required: Any, installed: 1.0.6]
#pandas==1.1.1
  #- numpy [required: >=1.15.4, installed: 1.19.1]
  #- python-dateutil [required: >=2.7.3, installed: 2.8.2]
    #- six [required: >=1.5, installed: 1.15.0]
  #- pytz [required: >=2017.2, installed: 2020.1]
#passlib==1.7.4
#pdfrw==0.4
#pipdeptree==2.2.0
  #- pip [required: >=6.0.0, installed: 19.0.3]
#PyJWT==1.7.1
#PyMySQL==1.0.2
#Pyphen==0.10.0
#pysolr==3.9.0
  #- requests [required: >=2.9.1, installed: 2.26.0]
    #- certifi [required: >=2017.4.17, installed: 2020.6.20]
    #- charset-normalizer [required: ~=2.0.0, installed: 2.0.7]
    #- idna [required: >=2.5,<4, installed: 2.10]
    #- urllib3 [required: >=1.21.1,<1.27, installed: 1.25.11]
#python-multipart==0.0.5
  #- six [required: >=1.4.0, installed: 1.15.0]
#s3fs==0.4.2
  #- botocore [required: >=1.12.91, installed: 1.20.31]
    #- jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
    #- python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]
      #- six [required: >=1.5, installed: 1.15.0]
    #- urllib3 [required: >=1.25.4,<1.27, installed: 1.25.11]
  #- fsspec [required: >=0.6.0, installed: 0.8.0]
#uvicorn==0.11.8
  #- click [required: ==7.*, installed: 7.1.2]
  #- h11 [required: >=0.8,<0.10, installed: 0.9.0]
  #- websockets [required: ==8.*, installed: 8.1]
#watchtower==0.8.0
  #- boto3 [required: >=1.9.253,<2, installed: 1.17.31]
    #- botocore [required: >=1.20.31,<1.21.0, installed: 1.20.31]
      #- jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
      #- python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]
        #- six [required: >=1.5, installed: 1.15.0]
      #- urllib3 [required: >=1.25.4,<1.27, installed: 1.25.11]
    #- jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
    #- s3transfer [required: >=0.3.0,<0.4.0, installed: 0.3.7]
      #- botocore [required: >=1.12.36,<2.0a.0, installed: 1.20.31]
        #- jmespath [required: >=0.7.1,<1.0.0, installed: 0.10.0]
        #- python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]
          #- six [required: >=1.5, installed: 1.15.0]
        #- urllib3 [required: >=1.25.4,<1.27, installed: 1.25.11]
#wget==3.2
#xhtml2pdf==0.2.5
  #- arabic-reshaper [required: >=2.1.0, installed: 2.1.3]
    #- future [required: Any, installed: 0.18.2]
    #- setuptools [required: Any, installed: 59.1.1]
  #- html5lib [required: >=1.0, installed: 1.1]
    #- six [required: >=1.9, installed: 1.15.0]
    #- webencodings [required: Any, installed: 0.5.1]
  #- Pillow [required: Any, installed: 8.2.0]
  #- pyPdf2 [required: Any, installed: 1.26.0]
  #- python-bidi [required: >=0.4.2, installed: 0.4.2]
    #- six [required: Any, installed: 1.15.0]
  #- reportlab [required: >=3.3.0, installed: 3.5.47]
    #- pillow [required: >=4.0.0, installed: 8.2.0]
  #- six [required: Any, installed: 1.15.0]

#(env) E:\usr3\GitHub\openpubarchive\app>
