/*Blue Theme*/
.ui-accordion-header-active {
    /*background-color: light-blue !important;*/
    background-color: #68c !important;
}

#abstractArea>h1, #abstractArea>h2, #abstractArea>h3, p.title, p.title_author, p.title_contributor {
  font-family: 'Roboto', sans-serif !important;
}

p {
  font-family: 'Droid Serif', serif !important;
}

.articleListItem:first-line {
  text-shadow : 0 0 0 black;
}

.search-btn-group > button {
    color: white; /* White text */
    /*background-color: blue;*/
    border-color: blue;
}

/*Buttons General*/
.btn-primary {
    /*background-color: #337ab7;
    border-color: #2e6da4;*/
}

/*Button Group in Abstract Area */
div.doc-btn-group a {
    color: white; /* White text */
    /*background-color: #337ab7;
    border-color: #2e6da4;*/
}

.pep-round-button {
    color: #6688cc;
}

/*reverse colors for clicking*/
a:active, span:active, span.pep-round-button:active {
  background-color: cornflowerblue;
  color: white;
}

