/* Colorful1 Theme 
  SCSS Controls this themes - Edit the SCSS file, NOT the CSS
  color 1 is the darkest, and color 5 is the lightest      

  This theme is suggested for use with monochromatic coloring 
*/

/* Coolors Exported Palette - coolors.co/511920-a07a7f-c69fa4-e0c5c9-f5e6e8 */

/* HSL */
$color1: hsla(353%, 53%, 21%, 1);
$color2: hsla(352%, 17%, 55%, 1);
$color3: hsla(352%, 25%, 70%, 1);
$color4: hsla(351%, 30%, 83%, 1);
$color5: hsla(352%, 43%, 93%, 1);

/* RGB */
$color1: rgba(81, 25, 32, 1);
$color2: rgba(160, 122, 127, 1);
$color3: rgba(198, 159, 164, 1);
$color4: rgba(224, 197, 201, 1);
$color5: rgba(245, 230, 232, 1);


// just edit these $variables to change the theme colors
$colorSectionHeadSelected: $color2;    // selected accordion header
$colorSectionHeadNotSelected: $color4; // other accordion headers
$colorSectionBaseBackground: lighten($color5, 19%);  // behind any text areas in sections
$colorTextAreaBackground: lighten($color5, 19%);
$colorTextAreaDarkerBackground: $color2;
$colorTextAreaDarkerBackgroundText: lighten($color5, 19%);
$colorSearchCriteriaForm: lighten($color5, 10%);
$colorBase: $color5;  // window inside, between sections and at bottom
$colorBannerArea: lighten($color5, 10%);     //banner area background
$colorBannerAreaText: $color1;  // banner
$colorBannerAreaShadow: $color2;  // banner
$colorControls: $color3; // buttons etc.
$reverseColorsWhenClicked: $color2;
$linkVisitedColor: purple;   // standard color is purple
$linkTextColor: darken($color2, 12%);     // standard color is blue
$linkSpecialColor: darken($color2, 12%); // a variation on standard link color

// don't edit below here
@import "ColorfulCommon.scss";