/* ColorfulCommon Common File for Colorful Themes */
/* SCSS Controls this themes - Edit the SCSS file, NOT the CSS */

// don't edit below here
.ui-accordion-header-active {
  background-color: $colorSectionHeadSelected !important;
  color: white;
}

/* Accordion non-active */
.ui-state-default {
  background-color: $colorSectionHeadNotSelected;
  color: white;
}

/* Accordion data area */
.ui-widget-content {
  background-color: $colorSectionBaseBackground !important;
}

/* Menu area */
.navbar {
  background-color: $colorBannerArea;  
}

body {
  background-color: $colorBase;  
}

// added for NightTime1
body, #topMenu, .modal-content, .modal-header, .modal-footer {
  background-color: $colorBase !important; 
}


/* Search form results */
#searchFormOuter {
  background-color: $colorSearchCriteriaForm;
}

/* Search form results */
#searchFormResults, #termMatchStatArea {
  background-color: $colorTextAreaBackground;
}

/* Most text areas */
#whatsNew, .issueList, #welcome, .pepsection, #newsDiv, #detailPanel {
  background-image:none;
  background-color: $colorTextAreaBackground !important;
}

/* Buttons in search section */
.search-btn-group > button, .btn-primary {
  color: white; /* White text */
  background-color: $colorControls;
  border-color: gray;
}

/* Results Pager icons */
.pep-round-button {
  color: $colorControls !important; /* White text */
  background-color: $colorTextAreaBackground;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.articleListItem:first-line {
  text-shadow : 0 0 0 black;
}

/*reverse colors for clicking*/
a:active, span:active, span.pep-round-button:active {
  background-color: $reverseColorsWhenClicked;
  color: $colorTextAreaBackground;
}

.searchhit {
  font-weight: bolder;
  background-color: cornflowerblue;
  color: $colorTextAreaBackground;
}

.searchHelpTable td {
  background-color: $colorTextAreaDarkerBackground;
  color: $colorTextAreaDarkerBackgroundText;
}

.bannerText, .bannerText_after, .subBannerText {
  color: $colorBannerAreaText;
  text-shadow: 0 1px 0 $colorBannerAreaShadow ;
  border-top: -14px !important;
}

#searchCriteriaArea input, #searchCriteriaArea option, #searchCriteriaArea select, #termMatchStatArea {
  background-color: $colorTextAreaBackground !important;
  color: $linkTextColor !important;
}

/* Links */
a.doi:visited, a.bibx:visited, a.pgx:visited, .errorStatus>a:visited, .linkVisible:visited, .clickableReference:visited {
 color:$linkVisitedColor ;
}

a, p.title a, p.title_author a, a.volx, .bibtip, span.peppopup, span.clickableReference, a.issuex {
  color: $linkTextColor !important;
}

a.doi, a.bibx, a.pgx, .errorStatus>a, .linkVisible, .clickableReference {
  color: $linkTextColor;
}

/*special document elements that are links*/
p.title a, p.title_author a, a.volx {
  color: $linkSpecialColor;
}