/* Colorful2 Theme 
  SCSS Controls this themes - Edit the SCSS file, NOT the CSS
  color 1 is the darkest, and color 5 is the lightest      

  This theme is suggested for use with monochromatic coloring 
*/

/* Coolors Exported Palette - coolors.co/192d39-4573a2-3780b2-64a8e0-8ed2ff */

/* HSL */
$color1: hsla(203%, 39%, 16%, 1);
$color2: hsla(210%, 40%, 45%, 1);
$color3: hsla(204%, 53%, 46%, 1);
$color4: hsla(207%, 67%, 64%, 1);
$color5: hsla(204%, 100%, 78%, 1);

/* RGB */
$color1: rgba(25, 45, 57, 1);
$color2: rgba(69, 115, 162, 1);
$color3: rgba(55, 128, 178, 1);
$color4: rgba(100, 168, 224, 1);
$color5: rgba(142, 210, 255, 1);


// just edit these $variables to change the theme colors
$colorSectionHeadSelected: $color2;    // selected accordion header
$colorSectionHeadNotSelected: $color4; // other accordion headers
$colorSectionBaseBackground: lighten($color5, 19%);  // behind any text areas in sections
$colorTextAreaBackground: lighten($color5, 19%);
$colorTextAreaDarkerBackground: $color2;
$colorTextAreaDarkerBackgroundText: lighten($color5, 19%);
$colorSearchCriteriaForm: lighten($color5, 10%);
$colorBase: $color5;  // window inside, between sections and at bottom
$colorBannerArea: lighten($color5, 10%);     //banner area background
$colorBannerAreaText: $color1;  // banner
$colorBannerAreaShadow: lighten($colorBannerAreaText, 40%);  // banner
$colorControls: $color3; // buttons etc.
$reverseColorsWhenClicked: $color2;
$linkVisitedColor: purple;   // standard color is purple
$linkTextColor: darken($color2, 12%);     // standard color is blue
$linkSpecialColor: darken($color2, 12%); // a variation on standard link color

// don't edit below here
@import "ColorfulCommon.scss";